{% extends 'mailapp/base.html' %}

{% block title %}Детали сообщения{% endblock %}

{% block content %}
<h1>Детали сообщения</h1>

<p>Тема: {{ message.subject }}</p>
<p>Текст сообщения:</p>
<pre>{{ message.body }}</pre>


<a href="{% url 'mailapp:mail_delete_message' message.pk %}" class="btn btn-outline-danger">Удалить сообщение</a>
<a href="{% url 'mailapp:mail_update_message' message.pk %}" class="btn btn-outline-warning">Изменить сообщение</a>
<a href="{% url 'mailapp:mail_message_list' %}" class="btn btn-outline-primary">Назад к списку сообщений</a>
{% endblock %}